.expanded {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #f3f0e4;
  .title {
    display: flex;
    justify-content: space-between;
    p {
      font-size: 1.1rem;
      font-weight: 500;
      color: #4e4e4e;
    }
  }
  .content {
    padding: 30px 5px 10px 5px;
    p {
      color: #4e4e4e;
      b {
        font-weight: bold !important;
      }
    }
  }
}
