.expanded {
  padding-top: 20px;
  padding-bottom: 20px;
  .title {
    display: flex;
    justify-content: space-between;
    color: #4e4e4e;
    font-size: 18px;
  }
  .content {
    padding: 10px;
  }
}
