@import "../../../globalStyles/scss/variables";

.slider-page {
  height: 100vh;

  & > div {
    height: 100%;
  }
}

.home-page__root {
  background-repeat: no-repeat;
  background-size: cover;
}

.divImg {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

  .browse-cabinet__header {
    padding: 30px 10px 0;
    height: 48px;

    &-icon
    .injected-svg {
      & > path:first-child {
        fill: white;
      }

      .a {
        stroke: white;
      }
    }
  }
}

.home-page__btn {
  background: #BFAD71;
  padding: 16px 35px;
  font-size: 14px;
  border-radius: 7px;
  box-shadow: 0px 3px 6px #00000029;
  color: white;
  width: 100%;
}

.overlay-wrap {
  position: relative;
  height: calc(100vh - 48px);
  overflow: hidden;

  .overlay-wrap--inner {
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: all .3s ease-out;

    .overlay-height {
      background-color: rgba(78, 78, 78, 0.74);
      flex-direction: column;
      padding: 21px 17px;
      justify-content: space-between;
      width: 100%;
      transition: all .3s ease-out;
    }

    .overlay-heading {
      font-size: 18px;
      color: white;
      height: 48px;
      display: flex;
      justify-content: space-between;
    }

    .overlay-button-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      //height: calc(100% - 48px);

      .home-page__btn {
        width: 200px;

      }

      a {
        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
    }

    .overlay-arrow {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .overlay-arrow-div {
    height: 125px;
  }

  .overlay-down-arrow-div {
    height: 95%;

    .overlay-height-down {
      height: calc(100% - 60px);
      display: flex;
    }
  }
}

.inner-page-wrapper {
  padding: 17px;
  height: 100vh;
  background-color: #F7F7F7;

  .browse-cabinet__header {
    padding-top: 17px;
  }

  .wrapper-header {
    margin: 30px 0 48px;
    color: #B09A51;
    font-size: 25px;
  }

  .wrapper-coming-soon {
    height: calc(100vh - 200px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    .text {
      font-size: 30px;
      font-weight: 700;
      color: #B09A51;
    }
  }

  .wrapper-img {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 14px;
    row-gap: 14px;
    margin-bottom: 34px;

    &-main {
      position: relative;
      width: 100%;
      padding-top: 100%;
      background-color: #ffffff;
      height: 200px;
      border-radius: 5px;

      &-inner {
        border: 1px solid transparent;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 7px 22px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        &.withBorder {
          border: 1px solid #B09A51;
        }

        &--header {
          display: flex;
          justify-content: center;
          font-size: 14px;
          color: #4E4E4E;
        }

        &--img {
          height: calc(100% - 62px);
          margin: 8px 0 14px;

          img {
            max-width: 100%;
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }

        &--price {
          display: flex;
          justify-content: center;

          .old-price {
            font-size: 12px;
            margin-right: 8px;
            color: #AAAAAA;
          }

          .new-price {
            font-size: 13px;
            color: #B09A51;
          }
        }
      }
    }

  }

  .home-page__btn {
    transition: all 0.3s;
    position: relative;
    z-index: 0;

    &:hover {
      &:after {
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;
      }
    }

    &:after {
      background: rgba(0, 0, 0, 0.2);
      content: '';
      position: absolute;
      z-index: -1;
      height: 0;
      left: 50%;
      top: 50%;
      width: 0;
      border-radius: 7px;
      transition: all 0.3s ease;
    }

    &:before {
      background: rgba(0, 0, 0, 0.2);
      content: '';
      position: absolute;
      z-index: -1;
    }

  }
}

.specification-wrapper {
  .wrapper-description {
    font-size: 16px;
    color: #4E4E4E;

    .wrapper-data:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}