@import "../../../globalStyles/scss/variables";

.browse-cabinet {
  padding: 1.0625rem;

  &__header {
    display: flex;
    justify-content: space-between;
    height: 2.625rem;
    align-items: center;
    margin-bottom: 0.625rem;

    &-right {
      display: flex;

      .cart-main {
        position: relative;
        margin-right: 1.25rem;

        &-item {
          position: absolute;
          top: -0.25rem;
          right: 0.125rem;
          background: $dark-khaki;
          color: white;
          height: 1.25rem;
          width: 1.25rem;
          border-radius: 50%;
          font-size: $small-font-size;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          transform: translate(50%, -50%);
          z-index: 1;
        }
      }

      .cart-icon {
        .a {
          stroke: $dark-gray;
        }
      }

      .search-icon {
        svg {
          & path:first-child {
            fill: $dark-gray;
          }
        }
      }
    }

    &-icon {
      display: flex;
      align-items: center;

      & > div {
        display: flex;
      }
    }
  }

  &__heading {
    margin-bottom: 2.3125rem;

    h3 {
      color: $dull-orange;
      font-size: 1.5625rem;
    }
  }

  .collection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.125rem;

    &-wrapper {
      display: flex;
      align-items: center;

      &__main {
        display: flex;
        align-items: center;

        &-name {
          color: $dull-orange;
          font-size: $small-font-size;
        }

        &-icon {
          margin-right: 0.313rem;

          & > div {
            display: flex;
          }
        }
      }

      &__grid {
        margin-right: ($spacer * 2);
      }
    }
  }

  .collection-block {
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      transition: all 0.2s ease-in-out;

      .block {
        position: relative;
        width: 100%;
        flex: 1 0 100%;
        max-width: 100%;
        transition: all 0.3s ease-in-out;

        &-img {
          display: flex;
          height: 100%;
          padding: ($spacer * 0.5);
          a {
            width: 100%;
            img {
              max-width: 100%;
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }

          &__heartIcon {
            position: absolute;
            right: 0.9375rem;
            bottom: 0.9375rem;

            & > div {
              display: flex;
            }
          }
        }
      }
    }
    &__grid {
      .block {
        flex: 1 0 50%;
        flex-grow: 1;
        max-width: 50%;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
